.game-wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    background-color: #0E1518;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 14px 5px rgba(0, 215, 247, 0.2),
                0px 0px 20px 14px rgba(0, 215, 247, 0.2),
                0px 0px 30px 20px rgba(0, 215, 247, 0.1);
    border-radius: 20px;
    padding: 10px 10px 6px;
}

.game__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

.game__score-count,
.game__score-record {
    color: #fff;
    font-size: 20px;
}

.game__canvas-wrap {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2'%3E%3Ccircle cx='8' cy='8' r='4' fill='%23525053'/%3E%3C/g%3E%3C/svg%3E%0A");
}